.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


header {
     background-image: url("http://res.cloudinary.com/mers/image/upload/v1501019999/12dark_tn3yyc.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: left;
   -webkit-animation: fadein 3s;
  /*fade in animation for the Header just to add drama*/
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
}


header.img2 {
  background-image: url("http://res.cloudinary.com/mers/image/upload/c_scale,w_1429/v1501544644/bigstock-Person-holding-smart-phone-in-61830467_s3cskv.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
 padding-top: 100px;
    padding-bottom: 50px;
    
   
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 
   


header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

header .intro-text .intro-lead-in {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 25px
   
}

header .intro-text .intro-heading {
    font-family: 'Roboto', sans-serif;
    ;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    color: #ffffff;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }
    header .intro-text .intro-lead-in {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-heading {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 64px;
        line-height: 75px;
        margin-bottom: 50px
    }
}







.gridContainer {
  margin-left: auto;
  margin-right: auto;
  width: 87.36%;
  padding-left: 1.82%;
  padding-right: 1.82%;
}

#Wrapper {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
 background: 
  
url("http://res.cloudinary.com/mers/image/upload/v1501019999/12dark_tn3yyc.jpg")
   fixed 100%; 
}
#Wrapper2 {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
 background: 
  
url("http://res.cloudinary.com/mers/image/upload/v1501544644/bigstock-Person-holding-smart-phone-in-61830467_s3cskv.jpg")
   fixed 100%; 
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







.gridContainer {
  margin-left: auto;
  margin-right: auto;
  width: 87.36%;
  padding-left: 1.82%;
  padding-right: 1.82%;
}

#Wrapper {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
 background: 
  
url("http://res.cloudinary.com/mers/image/upload/v1501019999/12dark_tn3yyc.jpg")
   fixed 100%; 
}
#Wrapper2 {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100vw;
  display: block;
 background: 
  
url("http://res.cloudinary.com/mers/image/upload/v1501544644/bigstock-Person-holding-smart-phone-in-61830467_s3cskv.jpg")
   fixed 100%; 
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Parallax Header*/

h1 {
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 500%;
  color: #ffffff;
  letter-spacing: 1%;
  margin: 0 0;
 
  padding-top: 25%;
  padding-bottom: 25%;
  -webkit-animation: fadein 3s;
  /*fade in animation for the Header just to add drama*/
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 500%;
  color: #ffffff;
  letter-spacing: 1%;
 margin: 0 0;}
/*Services Font Parallax 2*/
h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  letter-spacing: 1%;
 margin: 0 0;}


p {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  letter-spacing: 1%;
  padding: 0px;
 margin:0;
}

/*Section Two*/

.parallax-section-two {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #ffffff;
 
}

.parallax-section-two h3 {
  text-align: center;
 font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #000000;
  letter-spacing: 1%;
}

.parallax-section-two p {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  letter-spacing: 1%;
  padding: 0px;
 margin:0
}


/*Parallax Effect*/

.parallax {
  background-color: #3a3e2d;
}


/*Parallax Section One*/

.parallax-content {
  padding-top: 10%;
  padding-bottom: 10%;
 padding: 5%
}

.parallax-content h2
/*Section One Style*/

{
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 275%;
  color: #ffffff;
  letter-spacing: 1%;
}

.parallax-content p
/*Section One Paragraph*/

{
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  padding: 10px;
}


div.padding {
    background-color: white;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
} 

/* footer */

.footer-distributed{
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px cursive;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #000000;
	font: normal 36px 'Quicksand', sans-serif;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #000000;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #000000;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #000000;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #92999f;
	color: #fff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
  margin:2;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
 
}
/* city and phone number */
.footer-distributed .footer-center p{
	display: inline-block;
	color: 	#000000;
 font-family: 'Quicksand', sans-serif;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
 font-family: 'Quicksand', sans-serif;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #000000;
	text-decoration: none;;
 font-family: 'Quicksand', sans-serif;

}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 15px;
 font-family: 'Quicksand', sans-serif;
 font-weight: normal;
	margin: 0;
}
/* about company */
.footer-distributed .footer-company-about span{
	display: block;
	color:  #000000;
	font-size: 15px;
	font-weight: bold;
 font-family: 'Quicksand', sans-serif;
	margin-bottom: 20px;
}

/* footer icons linked */
.footer-distributed .footer-icons{
	margin-top: 25px;
 font-family: 'Quicksand', sans-serif;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #92999f;
	border-radius: 30px;

	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*  footer: media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px 'Quicksand', sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: left;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
  
	}

}





















